<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478902814927-n284q0c425rv9l4bqd6r04okm23deata.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478902814927-n284q0c425rv9l4bqd6r04okm23deata</string>
	<key>API_KEY</key>
	<string>AIzaSyAFwTjnmTOju5dvcFExAr1unSODdRQgcsk</string>
	<key>GCM_SENDER_ID</key>
	<string>478902814927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>et.edu.aait.aginoClient</string>
	<key>PROJECT_ID</key>
	<string>agino-client</string>
	<key>STORAGE_BUCKET</key>
	<string>agino-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478902814927:ios:130cfaa66ae68234be4fba</string>
</dict>
</plist>